/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.EstiloLista {
    list-style: none;
}

.EstiloAnchor {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

.Body {
    scroll-behavior: smooth;
    cursor: none;
    overflow-x: hidden;
}



/* Fuentes propias */

@font-face {
    font-family: "Armany Regular";
    /* nombre de la fuente (personalizado) */
    src: url("../fonts/ARMANY-REGULAR.TTF") format('truetype');
}

@font-face {
    font-family: "Armany Medium";
    src: url("../fonts/ARMANY-MEDIUM.TTF") format('truetype');
}

/* Definimos colores y fuentes personalizadas */
:root {
    --principal-color: #000;
    --secundario-color: #fff;
    --font-grafico-regular: 'Armany Regular', serif;
    --font-grafico-medium: 'Armany Medium', serif;
}



/* Página de espera a la carga del DOM ("Preloader")*/
.Preloader {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--principal-color);
    opacity: 1;
    z-index: 12;
    transition: opacity 0.5s ease 2s;
}

.Preloader-img {
    width: 50%;
    animation: scale 3s ease 1s ; /* La animación dura 3s con undelay de 1s */
}

  /* keyframes para animar la escala del objeto. Al inicio tiene tamaño 1/1 y al final 10 veces más grande */
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(10);
    }
  } 


/* Cursor perzonalizado */
.Cursor {
    position: fixed;
    top: -3em;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secundario-color);
    transition: transform 0.1s ease-out;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 30;
    transition: width 0.3s ease, height 0.3s ease;
}

/* Cursor más grande para animar */
.Cursor-crece {
    width: 40px;
    height: 40px;
}


/* Contenedor principal */
.Container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--secundario-color);
}

.Header {
    width: 100%;
    height: 3.8em;
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent; /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.MarIcon {
    height: 2em;
}

.MarIcon-img {
    height: 100%;
}

.BtnsLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3em;
}

.Btn {
    /* El botón ajusta su tamaño al contenido */
    display: inline-block;
    /* Para posicionar el pseudo-elemento con position absolute*/
    position: relative;
    font-family: "roboto",sans-serif;
    /* Interletrado */
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.85em;
    background: transparent;
    border: none;
    color: var(--secundario-color);
    mix-blend-mode: difference;
    cursor: none;
}

/* after inserta la línea en el código justo después de cada botón */
.Btn::after {
    /* especificamos que el elemento es una caja vacía */
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    /* Comienza sin ancho */
    width: 0;
    height: 0.5px;
    background-color: var(--secundario-color);
    /* Animación suave */
    transition: width 0.5s ease;
}

/* Cuando se pasa por encima de cada botón el ancho de la línea crece hasta el 100% */
.Btn:hover::after {
    width: 100%;
}

/* Para cuando el botón sea formato hamburguesa */
.u-noHover:hover::after{
 width: 0;
}

/* Para pantallas menores a 1024px */
.Btn-desk {
    display: none;
}

/* Icono hamburguesa importado */
.material-symbols-outlined {
    font-size: 1.5rem;
    font-weight: 200;
}



/* Estilos del apartado proyectos */
.Main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "roboto",sans-serif;
    padding: 5rem 0 3rem 0;
    background-color: var(--secundario-color);
}

.ListaProyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Proyecto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Proyecto-enlace {
    display: flex;
    flex-direction: column;
}

.Proyecto-titulo {
    order: 1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--principal-color);
    font-weight: 400;
}

.Proyecto-imgs {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: row;
    order: 0;
    overflow: hidden;
    opacity: 1;
    transition: box-shadow 0.5s ease;
}

.Proyecto-img {
    width: 100%;
    object-fit: cover;
    transition: box-shadow 0.5s ease;
}

.Proyecto-imgs:hover {
    box-shadow: 0 0.2px 15px 8px rgba(0, 0, 0, 0.1)
}

.Proyecto-imgSecundaria {
    display: none;
}

.Proyecto-videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    order: 0;
    overflow: hidden;
    opacity: 1;
    transition: box-shadow 0.5s ease;
}

.Proyecto-video {
    width: 100%;
}

.Proyecto-videos:hover {
    box-shadow: 0 0.2px 15px 8px rgba(0, 0, 0, 0.1)
}



/* Estilos footer */
.Footer {
    width: 90%;
    height: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 1em;
    left: 1em;
    color: var(--secundario-color);
    background: transparent;
    /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.Footer-text {
    font-family: "roboto",sans-serif;
    letter-spacing: 0.1em;
    /* Añadir interletrado */
    font-weight: 300;
    font-size: 0.85em;
}



/* Estilos para añadir y quitar clases con JavaScript */
.u-opacidad {
    opacity: 0;
}

.isOculto {
    display: none;
}

.isSeleccionado {
    border-bottom: 1px solid var(--secundario-color);
}




/* Responsive Tablets */
@media screen and (min-width: 768px) {
    .Preloader-img {
        width: 40%;
    }

    .Proyecto-imgPrincipal {
        width: 50%;
    }

    .Proyecto-imgSecundaria {
        display: block;
        width: 50%;
    }

}


/* Responsive pantallas grandes */
@media screen and (min-width: 1024px) {
    .Preloader-img {
        width: 30%;
    }

    .Header {
        padding: 3em 2em 3em 2em;
    }

    .Btn-desk {
        display: block;
    }

    .Btn-mobile {
        display: none;
    }

    .MainProyectos {
        padding-top: 5rem;
    }

    .ListaProyectos {
        padding-bottom: 2rem;
        gap: 0rem;
    }

    .Proyecto {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .Proyecto-titulo {
        padding: 3rem 2rem 0 8rem;
        font-size: 2rem;
    }

    .Proyecto-imgs {
        height: fit-content;
        width: 45%;
        justify-content: end;
        position: absolute;
        right: 8em;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .Proyecto-imgs:hover {
        box-shadow: none;
    }

    /* Al hacer hover sobre el titulo aparece la imagen (~ selector de hermanos) */
    .Proyecto-titulo:hover ~ .Proyecto-imgs {
        opacity: 1;
    }

    .Proyecto-img {
        width: auto;
        height: 10rem;
    }

    .Proyecto-videos {
        height: fit-content;
        width: 45%;
        justify-content: end;
        position: absolute;
        right: 4em;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .Proyecto-videos:hover {
        box-shadow: none;
    }

    /* Al hacer hover sobre el titulo aparece el video (~ selector de hermanos) */
    .Proyecto-titulo:hover ~ .Proyecto-videos {
        opacity: 1;
    }

    .Proyecto-videos {
        width: auto;
        height: 13rem;
    }

    .Footer {
        padding-left: 1rem;
    }

    .Footer-text {
        font-size: 0.9rem;
    }

}