/* Estilos del Menu */

.Blur {
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}


.Menu { 
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6em 2rem;
    background-color: var(--principal-color);
    color: var(--secundario-color);
    position: absolute;
    left: 0;
    animation: menu 1s ease-in;
}

@keyframes menu {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.Menu-cerrar {
    font-size: 3em;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.Menu-list {
    font-family: var(--font-grafico-regular);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
}

.Menu-item {
    font-size: 4em;
}

.ListaRRSS {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.ListaRRSS-item {
    display: inline-block;
    position: relative;
    color: var(--secundario-color);
    font-family: "roboto",sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
}

/* after inserta la línea en el código justo después de cada item */
.ListaRRSS-item::after {
    /* especificamos que el elemento es una caja vacía */
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    /* Comienza sin ancho */
    width: 0;
    height: 0.5px;
    background-color: var(--secundario-color);
    /* Animación suave */
    transition: width 0.5s ease;
}

/* Cuando se pasa por encima de cada botón el ancho de la línea crece hasta el 100% */
.ListaRRSS-item:hover::after {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .Menu-item {
        font-size: 6em;
    }

    .Menu-list {
        gap: 1.5em;
    }

    .ListaRRSS {
        justify-content: end;
        gap: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .Menu { 
        padding: 3em 1.5em;   
    }
}

