/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

/* Fuentes propias */

@font-face {
    font-family: "Armany Regular";
    /* nombre de la fuente (personalizado) */
    src: url("../fonts/ARMANY-REGULAR.TTF") format('truetype');
}

@font-face {
    font-family: "Armany Medium";
    src: url("../fonts/ARMANY-MEDIUM.TTF") format('truetype');
}

@font-face {
    font-family: "Funnel Regular";
    src: url("../fonts/FUNNELDISPLAY-REGULAR.TTF") format('truetype');
}

@font-face {
    font-family: "Funnel SemiBold";
    src: url("../fonts/FUNNELDISPLAY-SEMIBOLD.TTF") format('truetype');
}

/* Definimos colores y fuentes personalizadas */
:root {
    --principal-color: #000;
    --secundario-color: #fff;
    --font-grafico-regular: 'Armany Regular', serif;
    --font-grafico-medium: 'Armany Medium', serif;
    --font-web-regular: 'Funnel Regular', sans-serif;
    --font-web-semibold: 'Funnel SemiBold', sans-serif;
}

/* Página que se ve nada más entrar a la web ("Preloader")*/
.Preloader {
    width: 100vw;
    height: 100vh;
    background-color: var(--principal-color);
    opacity: 1;
    z-index: 12;
    transition: opacity 0.5s ease 2s;
}


/* Contenedor principal */

.Container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--secundario-color);
}

.Header {
    width: 100%;
    height: 3.8em;
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: transparent;
    /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.MarIcon {
    height: 2em;
}

.MarIcon-img {
    height: 100%;
    background: transparent;
    /* Fondo transparente */
    mix-blend-mode: difference;
}

.BtnsLayout {
    display: flex;
    flex-direction: row;
    gap: 1.3em;
}

.Btn {
    /* El botón ajusta su tamaño al contenido */
    display: inline-block;
    /* Para posicionar el pseudo-elemento */
    position: relative;
    font-family: "roboto";
    letter-spacing: 0.1em;
    /* Añadir interletrado */
    font-weight: 300;
    font-size: 0.85em;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--secundario-color);
    mix-blend-mode: difference;
}

/* Pseudo-elemento para la línea */
.Btn::after {
    content: '';
    position: absolute;
    bottom: -0.5px;
    left: 0;
    /* Comienza sin ancho */
    width: 0;
    height: 0.5px;
    background-color: var(--secundario-color);
    /* Animación suave */
    transition: width 0.5s ease;
}

/* Hover para expandir la línea */
.Btn:hover::after {
    /* Crece hasta cubrir todo el ancho del botón */
    width: 100%;
}

/* Estilos del apartado proyectos */

.Main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    padding: 3rem 0 3rem 0;
    background-color: var(--secundario-color);
}

.ListaProyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Proyecto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Proyecto-titulo {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--principal-color);
    font-weight: 400;
}

.Proyecto-imgPrincipal {
    width: 100%;
    height: 20em;
}

.Proyecto-imgSecundaria {
    display: none;
}

.Proyecto-imgs {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    opacity: 1;
}

.Proyecto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: box-shadow 0.5s ease;
}

.Proyecto-imgs:hover {
    box-shadow: 0 0.2px 15px 8px rgba(0, 0, 0, 0.1)
}




/* Estilos footer */

.Footer {
    width: 90%;
    height: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 1em;
    left: 1em;
    color: var(--secundario-color);
    background: transparent;
    /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.Footer-text {
    font-family: "roboto";
    letter-spacing: 0.1em;
    /* Añadir interletrado */
    font-weight: 300;
    font-size: 0.85em;
}

.OscuroClaro {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secundario-color);
    mix-blend-mode: difference;
}

.fa-circle {
    font-size: 1em;
}


/* Estilo JavaScript */

.u-ocultar {
    display: none;
}

.u-opacidad {
    opacity: 0;
}

.isSeleccionado {
    border-bottom: 1px solid var(--secundario-color);
}



@media screen and (min-width: 768px) {
    .Proyecto-imgSecundaria {
        display: block;
    }

}



@media screen and (min-width: 1024px) {
    .Header {
        padding: 3em 2em 3em 2em;
    }

    .MainProyectos {
        padding-top: 5rem;
    }

    .ListaProyectos {
        padding-bottom: 2rem;
        gap: 0rem;
    }

    .Proyecto {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .Proyecto-titulo {
        padding: 3rem 2rem 0 3rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .Proyecto-imgs {
        width: 45%;
        justify-content: end;
        position: absolute;
        right: 2em;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    .Proyecto-imgs:hover {
        box-shadow: none;
    }

    .Proyecto:hover .Proyecto-imgs {
        opacity: 1;
    }

    .Proyecto-img {
        width: auto;
        height: 10rem;
    }

    .Footer {
        padding-left: 1rem;
    }

    .Footer-text {
        font-size: 0.9rem;
    }

}