.Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
}

.Main-contacto {
    justify-content: center;
    padding: 0;
}

.Intro-titulo {
    font-family: var(--font-grafico-regular);
    font-size: 5.5em;
    font-weight: 500;
}

.ContenedorFormulario {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal-color);
}

.Formulario {
    font-family: "roboto";
    width: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--principal-color);
}

.FormularioCaja {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--secundario-color);

}

.FormularioCaja-mensaje {
    display: flex;
    flex-direction: column;
}

.Formulario-item {
    width: 40%;
    padding-left: 1rem;
    color: var(--secundario-color);
    font-size: 0.8em;
    padding: 0.8em 0.8em;
}

.Formulario-input {
    font-family: "roboto";
    width: 100%;
    font-size: 1.2em;
    padding-left: 0.5rem;
    border: none;
    background: transparent;
    color: var(--secundario-color);
}

.Formulario-input:focus {
    background-color: var(--secundario-color);
    color: var(--principal-color);
    border: none;
}

.Formulario-item~.Formulario-input:focus {
    color: var(--principal-color);
    background-color: var(--secundario-color);
    border: none;
}

.FormularioCaja-submit {
    cursor: pointer;
    background-color: var(--secundario-color);
    transition: background-color 0.5s ease;
}

.Formulario-enviar {
    height: 2.5rem;
    font-size: 1em;
    color: var(--principal-color);
    transition: color 0.5s ease;
}

.FormularioCaja-submit:active {
    background-color: var(--principal-color);
}

.FormularioCaja-submit:active .Formulario-enviar {
    color: var(--secundario-color);
}

.DispoCaja {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 0.8em;
    gap: 1rem;
    margin: 1rem 1rem 0 0;
}

.fa-circle {
    font-size: 0.5rem;
    color: rgb(255, 59, 59);
    animation: pulso 1s infinite;
}

.u-disponible {
color: rgb(110, 255, 78);
}

@keyframes pulso {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
      
    .FormularioCaja-submit:hover {
        background-color: var(--principal-color);
    }
    
    .FormularioCaja-submit:hover .Formulario-enviar {
        color: var(--secundario-color);
    }
}

@media screen and (min-width: 1024px) {

    .ContenedorFormulario {
        margin: 0 10rem;
    }

    .Formulario-item {
        width: 20%;
    }

    .DispoCaja {
        margin: 1rem 10rem 0 0;
    }
}