
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Fuentes propias */

@font-face {
    font-family: "Armany Regular"; /* nombre de la fuente (personalizado) */
    src: url("../fonts/ARMANY-REGULAR.TTF") format('truetype');
}

@font-face {
    font-family: "Armany Medium"; 
    src: url("../fonts/ARMANY-MEDIUM.TTF") format('truetype');
}

@font-face {
    font-family: "Funnel Regular"; 
    src: url("../fonts/FUNNELDISPLAY-REGULAR.TTF") format('truetype');
}

@font-face {
    font-family: "Funnel SemiBold"; 
    src: url("../fonts/FUNNELDISPLAY-SEMIBOLD.TTF") format('truetype');
}

/* Definimos colores y fuentes personalizadas */
:root {
    --black: #000000;
    --white: white;
    --font-grafico-regular: 'Armany Regular', serif;
    --font-grafico-medium: 'Armany Medium', serif;
    --font-web-regular: 'Funnel Regular', sans-serif;
    --font-web-semibold: 'Funnel SemiBold', sans-serif;
}

/* Contenedor principal */

.Container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Header {
    width: 100%;
    height: 3.8em;
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--black);
    background: transparent; /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.MarIcon {
    height: 2em;
}

.MarIcon-img {
    height: 100%;
    background-color: transparent; /* Fondo transparente */
    mix-blend-mode: difference;
}

.BtnsLayout {
    display: flex;
    flex-direction: row;
    gap: 1.3em;
}

.Btn {
    font-family: "roboto";
    letter-spacing: 0.1em; /* Añadir interletrado */
    font-weight: 300;
    font-size: 0.85em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--white);
    mix-blend-mode: difference;
}

/* Estilos del apartado proyectos */

.MainProyectos{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100vh;
    font-family: "roboto";
    padding: 6rem 0 3rem 0;
}

.ListaProyectos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Proyecto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Proyecto-titulo {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 400;
}

.Proyecto-imgs {
    width: 100%;
    height: 8.4em;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    opacity: 1;
}

.Proyecto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Estilos footer */

.Footer {
    width: 100%;
    height: 1.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 1em;
    left: 1em;
    background: transparent; /* Fondo transparente */
    mix-blend-mode: difference;
    z-index: 10;
}

.Footer-text {
    width: 50%;
    font-family: "roboto";
    letter-spacing: 0.1em; /* Añadir interletrado */
    font-weight: 300;
    font-size: 0.75em;
    color: var(--white);
    mix-blend-mode: difference;
    z-index: 10;
}

.OscuroClaro {
    width: 100%;
    height: 100%;
    color: var(--white);
    mix-blend-mode: difference;
    z-index: 10;
}


/* Estilo JavaScript */

.u-ocultar {
    display: none;
}

.u-seleccionado {
    border-bottom: 1px solid var(--white);
}





@media screen and (min-width: 1024px) {
    .Header {
        padding: 3em 2em 3em 2em;
    }

    .MainProyectos{
        padding-top: 5rem;
    }
    
    .ListaProyectos{
        padding-bottom: 2rem;
        gap: 0rem;
    }
    
    .Proyecto {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
    
    .Proyecto-titulo {
        padding: 3rem 2rem 0 3rem;
        font-size: 2rem;
        cursor: pointer;
    }
    
    .Proyecto-imgs {
        width: 45%;
        justify-content: end;
        position: absolute;
        right: 2em;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    .Proyecto:hover .Proyecto-imgs {
        opacity: 1;
    }
    
    .Proyecto-img {
        width: auto;
        height: 10rem;
    }

    .Footer {
        padding-left: 1rem;
    }

    .Footer-text {
        font-size: 0.9rem;
    }
    
}